.branco {
    color: white; 
}
.links {
    color:rgb(41, 19, 138)
}

.centro {
    text-align: center;
    color: white;
}

.container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.animacao-subir {
    animation: subir 1s ease-in;
}

@keyframes subir {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100;
    }
}
.fontsabrina1 {
    font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: italic;
  
}
.fontsabrina2 {
    font-family: "Protest Revolution", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.fontOrdem {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}